<div class="container-general">
    <div class="container-form">
        <div class="contenedor-formulario">
            <div class="container-titulo">
                <h1>Nuevo libro</h1>
            </div>
            <form action="" class="formulario-int form-outline">
                <label for="" class="title-inputs">Titulo del libro:</label>
                <input type="text" class="inputs-formulario form-control" name="titulo" #titulo placeholder="Ingrese un título:">
                <br>
                <label for="" class="title-inputs">Género:</label>
                <input type="text" class="inputs-formulario form-control" name="genero" #genero placeholder="Ingrese un género:">
                <br>
                <label for="" class="title-inputs">Precio:</label>
                <input type="number" class="inputs-formulario form-control" name="precio" #precio placeholder="Ingrese un precio:">
                <br>
                <label for="" class="title-inputs">Autor:</label>
                <input type="text" class="inputs-formulario form-control" name="autor" #autor placeholder="Ingrese el autor:">
                <br>
                <label for="" class="title-inputs">URL portada:</label>
                <input type="text" class="inputs-formulario form-control" name="url_foto" #url_foto placeholder="URL imagen (dirección de imagen)">
                <br>
                <label for="" class="title-inputs">ID Libro:</label>
                <input type="number" class="inputs-formulario form-control" name="id_libro" #id_libro placeholder="Ingrese el ID del libro:">
                <br>
                <label for="" class="title-inputs">ID Usuario:</label>
                <input type="number" class="inputs-formulario form-control" name="id_user" #id_user placeholder="Ingrese su ID de usuario:">
            </form>
            <br>
            <button type="submit" class="boton btn btn-primary" (click)="infoFormCard(titulo.value, genero.value, precio.value, autor.value, url_foto.value, id_libro.value, id_user.value)">Añadir libro</button>
        </div>
    </div>
</div>