.container-general{
    min-height: 100vw;
    height: auto;
    background-image: url(../../../assets/img/fondo-books.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
    .container-search{
        width: 90%;
        /* border: 2px solid black; */
        margin: 100px;
        display: flex;
        justify-content: center;
    }
        .search{
            width: 20%;
            display: flex;
            flex-direction: column;
        }
        .boton{
            display: flex;
            text-align: center;
            flex-direction: column;
        }
    .container-card{
        width: 70%;
        height: auto;
        color: black;
        margin: 70px;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
        /* .card{
            display: flex;
            align-items: center;
            margin: 20px;
        } */
        .mostrar{
            width: 70%;
            height: 20%;
            padding: 20px;
            color: white;
            text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
            border: 1px solid rgb(255, 255, 255);
            display: flex;
            text-align: center;
        }
    .container-form{
        width: 40%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        margin: 70px;
        display: flex;
        justify-content: center;
    }
        .contenedor-formulario{
            width: 80%;
            height: 100%;
            color: black;
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .container-titulo{
                margin: 20px;
                color: white;
                text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
                display: flex;
            }
.even-card:hover{
    /* box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5); */
    background-color: white;
    border-radius: 10px;
}
.odd-card:hover{
    /* box-shadow: 1px 4px 8px rgba(255, 255, 255, 0.5); */
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
}