<div class="container-general">
    <div class="container-box">
        <div class="container-info">
            <div class="container-information">
                <h1>Information</h1>
                <div class="nombre">
                    <h4>Nombre: </h4>
                    <br>
                    <p>adfgsdgf</p>
                </div>
                <div class="apellidos">
                    <h4>Apellidos: </h4>
                    <br>                            <!-- PARA MAÑANA TIENES QUE TERMINAR DE MAQUETAR EL 'CONTAINER INFORMACIÓN' RETO 2 -->
                    <p>adgbsdgf</p>
                </div>
                <div class="email">
                    <h4>Email: </h4>
                    <br>
                    <p>adgbs</p>
                </div>
                <div class="url">
                    <h4>URL: </h4>
                    <br>
                    <p>adgsdg</p>
                </div>
            </div>
        </div>
        <div class="container-form">
            <form action="" class="formulario-info">
                <label for="" class="form-label titulo-label">Nombre:</label>
                <input type="text" class="form-control info-input" name="nombre" placeholder="Introduce tu nombre:">
                <br>
                <label for="" class="form-label titulo-label">Apellidos:</label>
                <input type="text" class="form-control info-input" name="apellidos" placeholder="Introduce tus apellidos:">
                <br>
                <label for="" class="form-label titulo-label">Email:</label>
                <input type="email" class="form-control info-input" name="email" placeholder="ejemplo@ejemplo.es">
                <br>
                <label for="" class="form-label titulo-label">URL</label>
                <input type="url" class="form-control info-input" name="apellidos" placeholder="https://www.ejemplo.es">
                <br>
                <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Modificar</button>
            </form>
        </div>
    </div>
</div>