<div class="container-general">
    <div class="container-form">
        <div class="titulo-formulario">
            <h1>Regístrate</h1>
        </div>
        <div class="formulario">
            <form action="" class="formulario-int form-outline">
                <label for="" class="title-inputs">Nombre:</label>
                <input type="text" class="inputs-formulario form-control" name="nombre" placeholder="Ingrese su nombre:">
                <br>
                <label for="" class="title-inputs">Apellido:</label>
                <input type="text" class="inputs-formulario form-control" name="apellido" placeholder="Ingrese su apellido:">
                <br>
                <label for="" class="title-inputs">Email:</label>
                <input type="email" class="inputs-formulario form-control" name="email" placeholder="ejemplo@ejemplo.es">
                <br>
                <label for="" class="title-inputs">URL:</label>
                <input type="url" class="inputs-formulario form-control" name="url" placeholder="Ingrese un URL">
                <br>
                <label for="" class="title-inputs">Contraseña:</label>
                <input type="password" class="inputs-formulario form-control" name="password" placeholder="Introduzca una contraseña">
                <br>
                <label for="" class="title-inputs">Repite contraseña:</label>
                <input type="password" class="inputs-formulario form-control" name="password" placeholder="Repita la contraseña">
            </form>
        </div>
        <button type="submit" class="boton btn btn-primary">Registrarse</button>
    </div>
</div>