<div class="container-general">
    <div class="container-form">
        <div class="contenedor-formulario">
            <div class="container-titulo">
                <h1>Modificar libro</h1>
            </div>
            <form action="" class="formulario-int form-outline" #updateForm="ngForm">
                <label for="" class="title-inputs">Titulo del libro:</label>
                <input type="text" class="inputs-formulario form-control" name="titulo" #tituloMod placeholder="Ingrese un título:">
                <br>
                <label for="" class="title-inputs">Género:</label>
                <input type="text" class="inputs-formulario form-control" name="genero" #generoMod placeholder="Ingrese un género:">
                <br>
                <label for="" class="title-inputs">Precio:</label>
                <input type="number" class="inputs-formulario form-control" name="precio" #precioMod placeholder="Ingrese un precio:">
                <br>
                <label for="" class="title-inputs">Autor:</label>
                <input type="text" class="inputs-formulario form-control" name="autor" #autorMod placeholder="Ingrese el autor:">
                <br>
                <label for="" class="title-inputs">URL portada:</label>
                <input type="text" class="inputs-formulario form-control" name="url_foto" #url_fotoMod placeholder="URL imagen (dirección de imagen)">
                <br>
                <label for="" class="title-inputs">ID Libro:</label>
                <input type="number" class="inputs-formulario form-control" name="id_libro" #id_libroMod placeholder="Ingrese el ID del libro:">
                <br>
                <label for="" class="title-inputs">ID Usuario:</label>
                <input type="number" class="inputs-formulario form-control" name="id_user" #id_userMod placeholder="Ingrese su ID de usuario:">
            </form>
            <br>
            <button type="submit" class="boton btn btn-primary" (click)="infoFormMod(tituloMod.value, generoMod.value, precioMod.value, autorMod.value, url_fotoMod.value, id_libroMod.value, id_userMod.value)">Modificar</button>
        </div>
    </div>
</div>